body {
  background-color: #fafafa;
}

#workspace {
  height: 500px;
}

#blocklyArea {
}

#blocklyDiv {
  position: absolute;
}

#codeArea {
  overflow: hidden;
  position: relative;
}

#textArea:focus {
    outline: none;
}

#textArea {
  border: 2px solid lightgray;
  border-radius: 4px;
  white-space: pre-wrap;
  height: 100%;
  width: 100%;
  padding: 10px 15px 10px 15px;
  font-family: monospace;
  line-height: normal;
  background-color: #333333;
  color: #eee;
  overflow: scroll;
}

.sweet-alert {
  border-radius: 4px;
}

#output-result {
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  white-space: pre-wrap;
  font-family: monospace;
  line-height: normal;
  max-height: 140;
  background-color: lightyellow;
  overflow: scroll;
  padding: 5px;
  font-size: 13px;
  color: #232323;
}


.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

#run-btn:hover {
  opacity: 1.0; 
}
#run-btn {
  position: absolute;
  bottom: 10px;
  right: 25px;
  opacity: 0.85;
}

#copy-btn:hover { 
  opacity: 1.0; 
}
#copy-btn { 
  position: absolute;
  right: 25px;
  top: 10px;
  background-color: #ffffff;
  border: 1px solid lightgray !important;
  opacity: 0.25;
}

/* mouse over link */
.copy-btn:hover {
  background-color: #eceeef;
}

#header {
  height: 140px;
  padding: 25px;
}

#footer {
  height: 140px;
  padding: 30px 0px 30px 0px;
  color: gray;
}

.overlay {
  background-color:#fff;
  opacity:0.5;
  -webkit-transition: opacity 0.5s; /* Safari */
  transition: opacity 0.5s;
}

.overlay:hover {
  opacity:0.8;
}

#action-bar {
  margin-top: 5px;
}